<div class="atoz-navigation">
    <ul id="atoz-list" class="nav nav-pills">
        <% categories.forEach(function(category) { %>
            <li role="presentation" <%= (category == prefix) ? "class=selected" : "" %>><a href="/?prefix=<%= category %>"><%= category %></a></li>
        <% }); %>
    </ul>
</div>