<div class="row">
  <div class="col-sm-12">

    <% suppliers.forEach(function(supplier) { %>
      <div class="row search-result">
        <div class="col-sm-12">
          <h3><%= supplier.name %></h3>
          <p><%= supplier.description %></p>
        </div>
      </div>
    <% }) %>

  </div>
</div>