<form id="supplier-search">
    <div class="form-group">
        <input class="form-control" id="query-input" type="text" placeholder="">
    </div>
    <input type="submit" value="Search" class="btn pull-right">
</form>
