<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/vendor/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <%- include('_header.ejs') %>

      <div id="body">
        <%- include('suppliers/_atoz.ejs') %>
        <%- include('suppliers/_results.ejs') %>
      </div>
    </div>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/bootstrap.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
